Django==1.7
Pillow
amqp
anyjson
beautifulsoup4
billiard
boto
celery
cmsplugin-contact
cmsplugin-filer
diff-match-patch==20121119
dj-database-url
dj-static
django-allauth
django-appconf
django-autocomplete-light
django-bootstrap-form
django-celery
django-classy-tags
django-cms==3.1.0rc1
django-compressor
django-contrib-comments
django-countries
django-filer
django-iban
django-import-export
django-localflavor
django-mptt
django-polymorphic
django-pylibmc
django-pylibmc-sasl
django-reversion
django-s3-folder-storage
django-sekizai
django-storages
django-tagging
django-xmlrpc
djangocms-admin-style
djangocms-column
djangocms-file
djangocms-flash
djangocms-googlemap
djangocms-inherit
djangocms-link
djangocms-picture
djangocms-snippet
djangocms-style
djangocms-teaser
djangocms-text-ckeditor
djangocms-video
easy-thumbnails
futures
gunicorn
honcho
html5lib
kombu
newrelic
oauthlib
psycopg2
pylibmc
pyparsing
pystache
python-openid
pytz
recaptcha-client
requests
requests-oauthlib
six
static
static3
tablib
waitress
wsgiref
