{% extends "base.html" %}
{% load cms_tags sekizai_tags %}
{% load static cache %}


{% block body_class %}home{% endblock %}

{% block base_content %}

<div id="hero">
  <div id="hero-home">
    <img src="{% static "website/img/huisjes.svg" %}" />
  </div>

</div>

<div class="ctas">
  <div class="container">
    <div class="col-md-4 cta-item">
      <a href="/about/what-is-ultimate">
        <i class="fa fa-question-circle"></i>
        What's Ultimate Frisbee?
      </a>
    </div>
    <div class="col-md-4 cta-item">
      <a href="/new-players/">
        <i class="fa fa-plus-circle"></i>
        Join Crunch
      </a>

    </div>
    <div class="col-md-4 cta-item">
      <a href="/jeugd">
        <i class="fa fa-child"></i>
        Jeugd speler?
      </a>
    </div>
  </div>

</div>

<br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 opener">
      {% placeholder opener %}
    </div>
  </div>
</div>


<div class="container" style="display: none">
  <h2>Latest news</h2>
  <div class="row">
    <div class="col-sm-12">
      {% placeholder news %}
    </div>
  </div>
</div>



{% include "include/_banner.html" with photo="website/img/temp2.jpg" header="Jeugd" text="Ben je tussen de 12 en 18 jaar, kom dan een keer langs" url="/jeugd" cta="Meer info" %}

{% endblock %}