{% load cms_tags menu_tags sekizai_tags staticfiles %}


<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        bla
      </div>
      <div class="col-md-3">
        bla 2
      </div>
      <div class="col-md-3">
        bla 2
      </div>
      <div class="col-md-3">
        bla 2
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul>
          {% show_menu 0 100 100 100 "include/_sitemap_showmenu.html" %}
        </ul>
      </div>
    </div>
  </div>
</div>
