{% extends 'base_section.html' %}
{% load cms_tags sekizai_tags %}
{% load static %}
{% load bootstrap %}

{% block section_content %}

  <div class="row">
    <div class="col-md-8 neat-images cms-content">
        {% placeholder general_content %}
    </div>

    </div>
    <div class="row">
      <div class="col-md-8">
            <h1>Teams</h1>
        <ul>
        {% for team in object_list %}
            <li><a href="{% url 'team:detail' team.id %}">{{ team.name }}</a></li>
        {% empty %}
            <li>No teams yet.</li>
        {% endfor %}
        </ul>
      </div>
    </div>

    <div class="col-md-4 neat-images ww-sidebar">
        {% placeholder side_content %}
    </div>
  </div>

{% endblock %}
