{% extends 'base_section.html' %}
{% load cms_tags sekizai_tags %}
{% load static %}
{% load bootstrap %}

{% block section_content %}

  <div class="row">
    <div class="col-md-8">
        {% render_model_block object %}
        <h1>Team: {{ instance.name }}</h1>
        {% endrender_model_block %}

        <h2>Roster</h2>
        {% for teammember in object.teammember_set.all %}
            <div class="player">
                {% render_model_block teammember %}
                {{ instance.get_status_display }} - {{ instance.member.first_name }} {{ instance.member.last_name }}
                {% endrender_model_block %}
            </div>
        {% endfor %}

        <h2>Tournaments</h2>
        {% for tournamentteam in object.tournamentteam_set.all %}
            <div class="tournament">
                {% render_model_block tournamentteam %}
                {{ instance.tournament.start_date }} -
                    <a href="{% url 'team:tournamentteam_detail' instance.pk %}">{{ instance.tournament.name }}</a>,
                    in {{ instance.tournament.city }} {{ instance.tournament.country.name }}
                {% endrender_model_block %}
            </div>
        {% endfor %}

        <h2>Description</h2>
        {% render_placeholder object.description %}

    </div>

  </div>

{% endblock %}
