#footer {
  margin-top: 60px;
  padding: 32px 0 32px 0;
  background-color: #2c2d31;
}
#footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer ul a {
  color: #acafbb;
  font-size: 11px;
  border-left: 1px solid #31cbe7;
  display: block;
  margin-bottom: 2px;
  padding-left: 8px;
}
#footer ul li {
  float: left;
  width: 150px;
}
#footer ul li ul li {
  display: block;
}
#footer ul li ul li a {
  border-color: #c5c8d8;
  color: #707278;
}
#footer ul li ul li li a {
  border-color: #757885;
  padding-left: 16px;
}
