

#home-header {
  position: relative;
  height: 540px;
  margin-top: -20px;


  background: #096278;
  overflow: hidden;
}

div.spotlight {

}

div.spotlight img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1600px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

div.spotlight div.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

div.spotlight div.restrainer {
  margin-top: 52px;
  max-width: 400px;
}

@media screen and (max-width: 1600px) { /* Specific to this particular image */
  div.spotlight img.bg {
    left: 50%;
    margin-left: -800px;   /* 50% */
  }
}


div.spotlight h1 {
  margin: 0;
  padding: 0 0 16px 0;
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.1em;
}

div.spotlight h2 {
  margin: 0;
  padding: 0 0 8px 0;
  font-family: 'Georgia', serif;
  font-size: 25px;
  font-weight: normal;
  font-style: italic;
  color: #fff;
  text-transform: none;
  line-height: 1em;
}

div.spotlight p {
  color: #fff;
  padding: 0 0 16px 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.3em;
}


div.spotlight a {
  border-radius: 4px;
  text-align: center;
  color: #fff;
  background-color: #5fb049;
  font-weight: bold;
  display: inline-block;
  padding: 16px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 8px 4px rgba(58,60,71,0.4);
  box-shadow: 0 0 8px 4px rgba(58,60,71,0.4);
}

div.spotlight a:hover {
  background-color: #0a6141;
}

.intro h1 {
  margin: -17px 0 0 0; padding: 0;
}

.intro h3 {
  margin: 0; padding: 0;
}


#ribbed { /*for her pleasure*/
  height: 24px;

  border-top: 6px solid #afd271;
  background-color: #89bc4d;
  border-bottom: 10px solid #62ae4e;
}

#home-cta {
  padding: 32px 0 32px 0;
  background-color: #F9F9F9;
}


#home-cta .whatshot-icon {
  text-align: center;
}

#home-cta .whatshot-icon i.fa {
  font-size: 40px;
  color: #CACACA;
}

#home-cta .whatshot-body h2 {
  font-size: 18px;
  margin: 0; padding: 0;
}




#news {
  padding: 32px 0 32px 0;
}

#news h3 {
  font-weight: bold;
  margin: 0; padding: 0;
}

#news time {
  font-family: Oswald, 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
}

#news .entry .thumb {
  border-radius: 4px;
  height: 160px;
  overflow: hidden;
  display: block;
  margin-bottom: 8px;
}

#news .entry .thumb img{
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

#news .entry .thumb img:hover {
  -webkit-filter: grayscale(100%);
}

#tweets {
  padding: 32px 0 32px 0;
  background-color: #F9F9F9;
}

#tweets h6 {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  color: #a0abac;
}

