@import url(http://fonts.googleapis.com/css?family=Roboto:700,300&subset=latin,cyrillic-ext);
h1,
h2,
h3,
h4 {
  font-family: Roboto, Sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #2c2d31;
}
p {
  color: #5a5b60;
  font-size: 16px;
  line-height: 26px;
}
