{% extends "base.html" %}

{% block title %}Page could not be found{% endblock %}

{% block base_content %}
  <div class="container">
    <div class="col-md-12">
      <h1>404: Page not found</h1>

      <p>Sorry, but the requested page could not be found.</p>

      <br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br />
    </div>
  </div>
{% endblock %}