{% extends "base.html" %}

{% block title %}Herbie could not find the page{% endblock %}

{% block base_content %}
  <div class="container">
    <div class="col-md-12">
      <h1>Herbie could not find the page you were looking for</h1>

      <p>Sorry, but the requested page could not be found.</p>

      <br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br />
    </div>
  </div>
{% endblock %}