{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load compressed %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Crunch Ultimate Frisbee Club{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% render_block "css" %}
    {% block headercss %}{%  endblock %}

    {% compressed_css 'core' %}


  </head>
  <body>
    {% cms_toolbar %}
    {% include "include/_mainnav.html" %}

    <div id="base-content">
       {% block base_content %}{% endblock %}
    </div>

    {% include "include/_footer.html" %}



    {% compressed_js 'core' %}
    {% render_block "js" %}
    {% block footerjs %}{% endblock %}



  </body>
</html>

