{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load compressed %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Crunch Ultimate Frisbee Club{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% render_block "css" %}
    {% compressed_css 'core' %}
    {% block headercss %}{%  endblock %}




  </head>
  <body {% block body_class %}{% endblock %}>
    {% cms_toolbar %}

    {% include "include/_mainnav.html" %}

    {% block base_content %}{% endblock %}

    {% include "include/_footer.html" %}

    {% compressed_js 'core' %}
    {% render_block "js" %}

    {% block postjs %}{% endblock %}



  </body>
</html>

